body{

background-color: #121212;

padding: 0;
margin: 0;
width: 90%;
margin: 0 auto;
}
h1{
    width: 100%;
    background-color: #22262c;
    border: #bb86fc dashed 0.1rem;
    color: #bb86fc;
    text-align: center;
   

}


.cg{
 width: 100%;
 
 display: block;
}
.covidGif{
    width: 20%;
 margin: 0;
 padding: 0;


    
}
.jheading{
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

    }

.cci{
display: flex;
flex-wrap: wrap;
justify-content: center;

    color: aliceblue;
    gap:10px 10px;
    

div{
    padding: 1%;
    border: #bb86fc dotted ;
    border-radius: 1em;
    text-align: center;
    box-shadow: 1px 1px burlywood ;
   
 
}    
.a{
   background-image: linear-gradient(#28313b,#485461);
   h3{
    padding:0.2rem;
    margin: 0rem 0.2rem 0.2rem 0.2rem;
}
h4{
    padding: 0.2rem;
    margin: -0.1rem 0 0.2rem  0;
}
}
.b{
    background-image: linear-gradient(#28313b,#485461);
    h3{
        padding:0.2rem;
        margin: 0rem 0.2rem 0.2rem 0.2rem;
    }
    h4{
        padding: 0.2rem;
        margin: -0.1rem 0 0.2rem  0;
    }
}
.c{
    background-image: linear-gradient(#28313b,#485461);
    h3{
        padding:0.2rem;
        margin: 0rem 0.2rem 0.2rem 0.2rem;
    }
    h4{
        padding: 0.2rem;
        margin: -0.1rem 0 0.2rem  0;
    }

  
}
     
}


table, th ,tr,td{
    margin: 2em auto;
    
    
}

table ,th,td{
    border-collapse: collapse;
    border: #bb86fc solid 1px;


   }
   

th ,tr,td {
    padding: 10px;
}




.covidstatetable{
    
    tr:nth-child(even){
        background-color:#fafafa;
        color: #121212;
     
    }
    tr:nth-child(odd){
      
        background-color:#121212;
        color: #fafafa;
    }
    tr:first-child{
        background-color:#121212;
         color: aliceblue;
      
    }

}

@media screen and (max-width:600px){
    .covidstatetable{
        padding: 1%;
       
        table{
            table, th ,tr,td{
                margin: 2em auto;
                padding: 0;
               
            }

          
            th{
                padding: 0.2rem;
                font-size: small;
                font-size: 0.5rem;
            }
            td{
               padding: 0.2rem;
               font-size: 0.5rem;
            }
     
        }}

}





