body{

background-color: #121212;

padding: 0;
margin: 0;
width: 90%;
margin: 0 auto;
}
h1{
    width: 100%;
    background-color: #22262c;
    border: #bb86fc dashed 0.1rem;
    color: #bb86fc;
    text-align: center;
   

}


.cg{
 width: 100%;
 
 display: block;
}
.covidGif{
    width: 20%;
 margin: 0;
 padding: 0;


    
}
.jheading{
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

    }

.cci{
display: flex;
flex-wrap: wrap;
justify-content: center;

    color: aliceblue;
    gap:10px 10px;
div{
    padding: 2%;
    border: #bb86fc dotted ;
    border-radius: 1em;
    text-align: center;
    box-shadow: 1px 1px burlywood ;
   
 
}    
.a{
   background-image: linear-gradient(#28313b,#485461);
}
.b{
    background-image: linear-gradient(#28313b,#485461);
}
.c{
    background-image: linear-gradient(#28313b,#485461);
  
}
     
}












